  <div class="about_container">
    <h1 class="about">ABOUT</h1>
    <h1 class="about_text1 load-hidden">goodea!とは？</h1>
    <div class="about_article1">
      <div class="about_box1">
        <%= image_tag("about1.png", size: "350x350") %>
        <div class="about_text2">
          <a>好きなキャラクターのグッズ欲しいけど、欲しいデザインのグッズって中々無いわよね</a>
        </div>
      </div>
    </div>
    <div class="about_article2">
      <div class="about_box2">
        <div class="about_text3">
          <a>こういうデザインの推しのグッズがあったら、絶対買うのになぁ</a>
        </div>
        <%= image_tag("about2.png", size: "350x350") %>
      </div>
    </div>
    <div class="about_article3">
      <p>あなたもこのような経験ありますか？</p>
    </div>
    <div class="about_article4">
    　<%= image_tag("about1.png", size: "350x350") %>
        <p>goodea!は</p>
        <p>アニメ・漫画・ゲーム作品の</p>
        <p>「こんなグッズあったら欲しい！」を</p>
        <p>投稿・シェアするサイトです</p>
    </div>
  </div>