.about_container {
  height: 4200px;
  width: 100%;
  text-align: center;
  font-family: 'メイリオ', 'Meiryo','ヒラギノ丸ゴ ProN', 'Hiragino Maru Gothic ProN';
}

.load-hidden {
  visibility: hidden
}

.about_article1 {
  width: 100%;
  height: 200px;
  margin-top: 50px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_frame1 {
  padding: 10px 120px;
  border: solid;
}

.about_article2 {
  width:100%;
  margin-top: 100px;
  height: 400px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.about_article_box1 {
  min-width: 50%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  align-items: center;
}


.about_box_text{
  height: 90px;
  font-size: 30px;
}


.about_article3 {
  width:100%;
  height: 400px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  overflow:hidden;
}

.about_article_box2 {
  min-width: 50%;
  border-radius: 10px;
  background-color: white;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.about_article4 {
  margin-top: 100px;
  height: 300px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about_article5 {
  margin-top: 100px;
  height: 300px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about_article6 {
  width: 100%;
  height: 200px;
  margin-top: 100px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_frame2 {
  padding: 10px;
  border: solid;
}

.about_s-text {
  font-size: 30px;
}

.about_box3 {
  margin-left: 5%;
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  font-size: 30px;
  min-width: 32%;

}

.about_article7 {
  width: 100%;
  height: 300px;
  margin-top: 100px;
  font-size: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_s_text {
  font-size: 25px;
}


.about_article8{
  margin-top: 50px;
  height: 400px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about_box3 {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  font-size: 30px;
  min-width: 40%;
}

.about_article9{
  margin-top: 100px;
  height: 200px;
  font-size: 40px;
  align-items: center;
  justify-content: center;
  display: flex;
}

.about_article10 {
  width: 100%;
  height: 500px;
  margin-top: 100px;
  font-size: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.about_frame3 {
  padding: 10px 80px;
  border: solid;
}


.about_box5 {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  text-align: left;
  font-size: 30px;
  min-width: auto;
}

.about_box {
  padding: 10px;
  border-radius: 10px;
  background-color: white;
}